<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- setter-injected HelloWorld bean definition -->
    <bean id="helloWorld" class="com.example.app.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>

    <!-- constructor-injected HelloWorld bean definition -->
    <bean id="helloWorldAnother" class="com.example.app.HelloWorld">
        <constructor-arg value="Hello World Another!"/>
    </bean>
</beans>